*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 5px;
  li {
    padding: 5px;
    border-radius: 20px;
    &:hover {
      background-color: dimgray;
      cursor: pointer;
    }
    &.selected {
      background-color: dimgray;
    }
  }
}

.container-fluid {
  padding: 0 !important;
}

.no-gutters {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.side-bar {
  height: 100vh;
  
  .header {
    height: 15%;
  }
  
  .users-list {
    height: 85%;
    overflow: auto;
  }
}

.chat-area{
  height: 100vh;

  .chat-info{
    height: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .chat-content{
    height: 80%;
    overflow: auto;
    padding-top: 1rem;

    .chat-box{
      max-width: 60%;
      margin: 0.5rem 2rem;
      padding: 0.5rem 1rem;
      background-color: lightyellow;
      align-self: flex-start;
      h5 {
        margin: 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
      p {
        margin: 0;
        padding: 0.5rem 0;
      }
      &.me{
        background-color: palegreen;
        align-self: flex-end;
      }
    }
  }

  .chat-input {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    height: 10%;
  }
}

.fa-user-circle.icon-header{
  font-size: 4rem;
  padding-right: 1rem;
}

.fa-user-circle.icon-user-list{
  font-size: 2rem;
  margin-right: 0.8rem;
  border: 3px solid green;
  border-radius: 50%;

  &.offline {
    border-color: lightgray;
  }
}

.fa-user-circle.icon-header-chat{
  font-size: 2rem;
  margin-right: 0.8rem;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: green;
  border-radius: 5px;

  &.offline {
    background-color: lightgray;
  }
}